@mixin centerElement
  top: 50%
  left: 50%
  +translate(-50%, -50%)

@mixin centerElementHorizontal
  left: 50%
  +translateX(-50%)

@mixin centerElementVertical
  top: 50%
  +translateY(-50%)

@mixin background-image-retina($file, $type)
  background-image: image-url($file + '.' + $type)

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi)

    &
      background-image: image-url($file + '@2x.' + $type)
      +background-size(image-width($file + '.' + $type) image-height($file + '.' + $type))

@mixin replace-text-clickable-logo($file)
  +replace-text-with-dimensions($file)

  a
    width: 100%
    height: 100%
    display: block